h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: $primary-light-color;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: transparent;
  border: none;
}
ul {
  list-style: none;
}
