$primary-color: #303030;
$secondary-color: #555555;
$primary-light-color: #fff;
$secondary-light-color: #9da4bd;
$accent-color: #ff6c00;

$background-section: #f7f7f7;

$primary-font-size: 16px;
$secondary-font-size: 11px;
$paragraf-font-size: 14px;
$title-font-size: 42px;
